body {
    background-image: linear-gradient(to left, rgb(41, 89, 144), white);
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 3px solid black;
    margin: 30px;

}

header {
    background-color: rgba(255, 119, 22, 0.782);
    width: 100%;
}

.title {
    text-align: center;
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tabella {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 300px;
    border: 7px solid black;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    background-color: whitesmoke;
}