body {
    background-image: linear-gradient(to top, rgb(114, 156, 204), white);
    background-color: rgb(114, 156, 204);
    font-family: 'Noto Serif';
    background-repeat: no-repeat;
}

header {
    font-weight: 700;
    font-size: 1.1rem;
    text-align: center;
    font-style: italic;
}

.Everything {
    display: flex;
    justify-content: space-around;
}

.Contatti_Istruzione {
    margin-right: 15px;
}

.Lingue_Competenze {
    margin-right: 15px;
}