<mat-card class="post-template">


  <mat-card class="post-image">
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  </mat-card>

  <mat-card-content class="post-caption">
    <p>
      My dog is so cute!
    </p>
  </mat-card-content>

  <mat-card-actions class="post-buttons">
    <button mat-icon-button color="warn">
      <mat-icon>favorite</mat-icon>
    </button>

    <button mat-raised-button="button-share">SHARE</button>

    <button mat-icon-button color="primary">
      <mat-icon>bookmark</mat-icon>
    </button>

  </mat-card-actions>
</mat-card>
