.post-template {
  padding-top: 15px;
  padding-bottom: 5px;
  max-width: 400px;
}

.post-image{
padding: 5px;
}

.post-caption{
padding: 7.5px;
margin-left: 5px;
margin-right: 5px;
}

.post-buttons{
  display: flex;
  justify-content:space-between
}
