
.Status{
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: blue;
  margin-left: 20px;
}


.Persone{
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  display: inline-block;
  margin-left: 10px;
}
